{% extends "layout.html" %}
{% block content%}
  <div class="row col-md-offset-1 col-md-10 col-xs-10 col-xs-offset-1 map-box">
      <div>
          <h4>Your next desitination</h4>
          <h3>{{next_point.title}}</h3>
          <img style="max-height: 20%" src="{{next_point.file.url}}" class="img-responsive img-rounded"> </img>
      </div>
      <div class="row map" id="map" style="height:100%"></div>
    <!--<div class="row sites nav-stacked" id="sidebar" style="height:100%;overflow-y:scroll;">-->
      <!-- -->
    <!--</div>-->
  </div>
{% endblock %}

{% block data %}
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}

