{% extends "layout.html" %}
{% block content%}
  <div class="row col-md-offset-1 col-md-10 map-box">
    <div class="col-md-8 map" id="map" style="height:100%"></div>
    <div class="col-md-4 sites nav-stacked" id="sidebar" style="height:100%;overflow-y:scroll;">
      <div>
          <h4>Your next desitination</h4>
          <h3>{{next_point.title}}</h3>
          <img src="{{next_point.file.url}}" class="img-responsive img-rounded"> </img>
      </div>
    </div>
  </div>
{% endblock %}

{% block data %}
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}

