{% extends "layout.html" %}
{% block content%}
  <div class="row col-md-offset-1 col-md-10 map-box">
    <div class="col-md-8 map" id="map" style="height:100%"></div>
    <div class="col-md-4 sites nav-stacked" id="sidebar" style="height:100%;overflow-y:scroll;">
      <div>
        {% for loc in locations %}
        {% for site in loc %}
        <div class="site" id="{{site.id}}">
          <h2>{{site.title}}</h2>
          <p>{{site.description}}</p>
        </div>
        <hr>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}